@media only screen and (max-width: 1268px) and (min-width: 961px){
    header{
        width: 900px;
    }

    .webSiteName{
        font-size: 46px;
    }

    .navBar ul li{
        width: 150px;
    }

    .phrase {
        font-size: 48px;
    }

    .siteContent{
        width: 900px;
    }

    .gallery{
        width: 217px;
    }

    .gallery .desc{
        height: 135px;
    }
    .gallery img{
        height:120px;
    }
    button{
        margin-left: 58px;
        font-size: 12px;
    }

    .siteFooter{
        width: 900px;
    }
    footer{
        width:900px;
    }

    /*Zone Pages*/
    .zonePagesContent{
        width: 900px;
    }

    .zonePagesFooter{
        width:900px;
    }

    /*Cardio Zone Page*/
    .cardioPhrase{
        font-size:35px;
    }

    /*Strength Zone Page*/
    .strengthPhrase{
        font-size: 45px;
    }

    /*Functional Zone Page*/
    .functionalPhrase{
        font-size: 29px;
    }

    /*Personal Trainer*/
    .ptPhrase{
        font-size: 39px;
    }

    /*Contacts*/
    .contactsContent{
        width: 900px;
    }

    .contactsInfo{
        width: 900px;
    }

    .webAddresses{
        font-size: 55px;
    }

    .contactsPageFooter{
        width: 900px;
    }
}

@media only screen and (max-width: 960px) and (min-width: 769px){
    header{
        width: 600px;
    }

    .webSiteName{
        font-size: 34px;
    }

    .phrase {
        font-size: 30px;
        padding: 15px 0px 15px 0px;
    }

    .siteContent{
        width: 600px;
    }

    .gallery{
        width: 290px;
        margin: 10px 3px;
    }

    .gallery .desc{
        height: 100px;
    }
    .gallery img{
        height: 155px;
    }
    button{
        margin-left: 100px;
        font-size: 12px;
    }
    .siteFooter{
        width: 600px;
    }
    footer{
        width: 600px;
    }

    /*Zone Pages*/
    .zonePagesContent{
        width: 600px;
    }

    .zonePagesGallery{
        width: 500px;
    }

    .zonePagesTips{
        width: 500px;
    }

    .zonePagesFooter{
        width: 600px;
    }

    /*Cardio Zone Page*/
    .cardioPhrase{
        font-size: 24px;
    }

    /*Strength Zone Page*/
    .strengthPhrase{
        font-size: 31px;
    }

    /*Functional Zone Page*/
    .functionalPhrase{
        font-size: 33px;
    }

    /*Personal Trainer*/
    .ptPhrase{
        font-size: 36px;
    }

    /*Contacts*/
    .contactsContent{
        width: 600px;
    }

    .contactsInfo{
        width: 600px;
    }

    .webAddresses{
        font-size: 50px;
    }

    .contactsPageFooter{
        width: 600px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px){
    header{
        width: 400px;
    }

    .webSiteName{
        font-size: 30px;
    }

    .phrase {
        font-size: 20px;
        padding: 15px 0px 15px 0px;
    }

    .siteContent{
        width: 400px;
    }

    .gallery{
        width: 400px;
        margin: 10px 0px;
        height: 355px;
    }

    .gallery .desc{
        height: 65px;
    }
    .gallery img{
        height: 210px;
    }
    button{
        margin-left: 150px;
    }

    .siteFooter{
        width: 400px;
    }
    footer{
        bottom: -850px;
        width: 400px;
    }

    /*Zone Pages*/
    .zonePagesContent{
        width: 400px;
    }

    .zonePagesGallery{
        width: 400px;
    }

    .zonePagesTips{
        width: 400px;
    }

    .zonePagesFooter{
        width: 400px;
    }

    /*Cardio Zone Page*/
    .cardioPhrase{
        font-size: 30px;
    }

    /*Strength Zone Page*/
    .strengthPhrase{
        font-size: 38px;
    }

    /*Functional Zone Page*/
    .functionalPhrase{
        font-size: 25px;
    }

    /*Personal Trainer*/
    .ptPhrase{
        font-size: 32px;
    }

    /*Contacts*/
    .contactsContent{
        width: 400px;
    }

    .contactsInfo{
        width: 400px;
    }

    .webAddresses{
        font-size: 50px;
    }

    .contactsPageFooter{
        width: 400px;
        margin-bottom: -10px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px){
    header {
        width: 300px;
    }

    .webSiteName{
        font-size: 30px;
    }

    .navBar ul li{
        width: 300px;
    }

    .phrase{
        font-size: 16px;
        padding: 20px 0px 20px 0px;
    }

    .siteContent{
        width: 300px;
    }

    .gallery{
        width: 300px;
        margin: 10px 0px;
        height: 355px;
    }

    .siteFooter{
        width: 300px;
    }

    footer{
        bottom: -1000px;
        width: 300px;
    }

    /*Zone Pages*/
    .zonePagesContent{
        width: 300px;
    }

    .zonePagesGallery{
        width: 300px;
    }

    .zonePagesTips{
        width: 300px;
    }

    .zonePagesFooter{
        width: 300px;
    }

    /*Cardio Zone Page*/
    .cardioPhrase{
        font-size: 23px;
    }

    /*Strength Zone Page*/
    .strengthPhrase{
        font-size: 32px;
    }

    /*Functional Zone Page*/
    .functionalPhrase{
        font-size: 19px;
    }

    /*Personal Trainer*/
    .ptPhrase{
        font-size: 25px;
    }

    /*Contacts*/
    .contactsContent{
        width: 300px;
    }

    .contactsInfo{
        width: 300px;
    }
    .webAddresses{
        color: white;
        text-align: center;
        font-size: 35px;
    }

    .gmail{
        color: white;
        text-align: center;
        font-size: 20px;
    }

    .workTime{
        color: white;
        text-align: center;
        font-size: 16px;
    }

    .location{
        color: white;
        text-align: center;
        font-size: 20px;
    }

    .contactsPageFooter{
        width: 300px;
        position: relative;
        margin-bottom: -10px;
    }

}
