body, html {
    background: url("img/BG-img 2.jpg") no-repeat center center fixed;
    background-size: cover;
}

div.webSiteName{
    text-align: center;
    color: white;
    font-size: 60px;

}

div.phrase {
    text-align: center;
    color: white;
    font-size: 70px;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 16.3%;
    margin-right: 16.3%;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 16.6%;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0e2829;;
}
a{
    color: inherit;
}

section.info{
    padding-left: 17%;
    padding-top: 2%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 19.2%;
    background: #0e2829;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    color: white;
    padding: 15px;
    text-align: center;
    background: #0e2829;

}
button{
    margin-top: -17%;
    margin-left: 32%;
    background: transparent;
    color: white;
    border-radius: 40%;
    border-width: 3px;
    height: 30px;
    margin-bottom: 4%;
    border-color: #94c7c6;
}

/*Cardio Page*/
div.cardioPhrase {
    text-align: center;
    color: white;
    font-size: 50px;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Strength Page*/
div.strengthPhrase{
    text-align: center;
    color: white;
    font-size: 70px;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Functional Page*/
div.FunctionalPhrase{
    text-align: center;
    color: white;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.PtPhrase{
    text-align: center;
    color: white;
    font-size: 55px;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.zonePages-Gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 62.3%;
    background: #0e2829;
}
div.zonePages-Gallery img {
    width: 100%;
    height: auto;
}

section.zonePagesGallery{
    padding-left: 27%;
    padding-top: 2%;
}

div.zonePagesTips{
    margin: 1%;
    border: 1px solid #ccc;
    float: left;
    width: 45.5%;
    background: #0e2829;
    text-align: center;
    color: white;
    margin-left: 27.2%;
}

div.sectionNames{
    text-decoration: underline overline;
    font-size: 30px;
    margin-top: 2%;
}

div.TipDesc {
    color: white;
    padding: 15px;
    text-align: center;
    background: #0e2829;

}

/* PT Page*/
ol.PtCharacteristics{
    list-style-type: circle;
    margin: 0;
    padding: 0;
    margin-left: 19%;
    margin-right: 18.7%;
    background-color: #0e2829;
    margin-top: -2%;
    margin-bottom: 13%;
}

/*Contact Page*/
section.contactInfo{
    margin: 1%;
    border: 1px solid #ccc;
    float: left;
    width: 65%;
    background: #0e2829;
    text-align: center;
    margin-left: 17.3%;
}

div.webAddresses{
    margin-top:2%;
    color: white;
    font-size: 60px;
}

div.gmail{
    margin-top: 2%;
    color:white;
    font-size: 40px;
}

div.workTime{
    margin-top: 2%;
    color: white;
    font-size: 25px;
    margin-bottom: 2%;
}

div.location{
    color: white;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}